version: '3.9'

services:
  mongo:
    container_name: mongo-container
    image: mongo:5
    restart: always
    volumes:
      - ./data:/data/db
    ports:
      - "27017:27017"
  api:
    container_name: api-container
    build: .
    image: fit-home-api
    restart: always
    command: "npm start"
    volumes:
      - ./dist:/usr/src/fit-home-api/dist/
    ports:
      - "5050:5050"
    links:
      - mongo
