version: '3.9'
services:
  mongo:
    container_name: mongo-container
    image: mongo:5
    restart: always
    volumes:
      - ./data:/data/db
    ports:
      - "27017:27017"
  api:
    container_name: api-container
    image: node:19
    working_dir: /usr/src/fit-home-api
    restart: always
    command: bash -c "npm install && npm run dev"
    environment:
      - MONGO_URL=mongodb://mongo:27017/fit-home-api
    volumes:
      - ./:/usr/src/fit-home-api/
    ports:
      - "5050:5050"
      - "9222:9222"
    links:
      - mongo
